.mainCards{
    display: flex;
    /* justify-content:center; */

}
.jumbotron{
    min-height: 100px;
   
}



.card{
    margin: 10px;
    min-width: 200px;
    min-height: 250px;
    /* display: flex; */
    /* flex-direction:; */
}