/* .mainCards{
    display: flex;
    justify-content:center;

} */
.jumbotron{
    min-height: 100px;
   
}



.card{
    margin: 10px;
    max-width: 250px;
    min-height: 300px; 
    padding: 0px;
    /* justify-content: center; */
    
    
}